main {
  display: flex;
  flex-direction: column;
  text-align: center;

  #logo {
    height: 5%;
    width: 5%;
    margin-top: 10rem;
    margin-bottom: 4rem;
    align-self: center;
  }
}

.main-text {
  h1 {
    font-weight: 400;
    padding-bottom: 2rem;
  }

  span {
    font-weight: 700;
    color: $neutral-blue;
  }

  h2 {
    font-weight: 400;
    padding-bottom: 3rem;
  }
}
