@import "global";
@import "main";
@import "button";
@import "image";
@import "footer";

/* Media query's */
@media screen and (max-width: 734px) {
  main {
    #logo {
      height: 20%;
      width: 20%;
      margin-top: 5rem;
    }
  }

  .main-text {
    h1 {
      font-size: 2.75rem;
    }

    h2 {
      font-size: 1.25rem;
    }
  }

  form {
    #email {
      width: 32.5rem;
      font-size: 14px;
      padding-left: 40px;
    }

    button {
      width: 32.5rem;
      height: 5rem;
      margin: 0;
      margin-top: 1rem;
    }
  }

  #illustration {
    height: 90%;
    width: 90%;
    margin-bottom: 5rem;
  }

  footer {
    p {
      margin-bottom: 4rem;
    }
  }
}
